body {
  margin: 0px;
  padding: 0px;
}

.sticky_menu {
  width: 30%;
  float: right;
  margin-top: 50px;
  position: sticky;
  top: 0;
  border: 1px solid palegreen;
  background-color: antiquewhite;
}
.sticky_menu h1{
  text-align: center;
}
.css_position{
  width: 40%;
  margin: 0 auto;

}
.sec-area {
  text-align: center;
}
.title {
  display: inline-block;
  font-size: 40px;
  text-transform: uppercase;
  position: relative;
}
.title::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  background: red;
  right: calc(100% + 10px);
  top: 50%;
  margin-top: -2px;
}
.title::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  background: red;
  left: calc(100% + 10px);
  top: 50%;
  margin-top: -2px;
}
.main-box {
  width: 300px;
  height: 300px;
  text-align: center;
  background: black;
  margin-top: 20px;
  margin-left: 38%;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.main-box:hover .box1 {
  right: 0;
  bottom: 0;
}
.main-box:hover .box2 {
  left: 0;
  bottom: 0;
}
.main-box:hover .box3 {
  right: 0;
  top: 0;
}
.main-box:hover .box4 {
  left: 0;
  top: 0;
}

.box1 {
  width: 60px;
  height: 60px;
  background: red;

  position: absolute;
  right: -30px;
  bottom: -30px;
  transition: 1s;
}
.box2 {
  width: 60px;
  height: 60px;
  background: green;

  position: absolute;
  left: -30px;
  bottom: -30px;
  transition: 1s;
}
.box3 {
  width: 60px;
  height: 60px;
  background: aqua;

  position: absolute;
  right: -30px;
  top: -30px;
  transition: 1s;
}
.box4 {
  width: 60px;
  height: 60px;
  background: blueviolet;
  position: absolute;
  left: -30px;
  top: -30px;
  transition: 1s;
}
.circle {
  width: 100px;
  height: 100px;
  background: greenyellow;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  border-radius: 100%;
  transform: scale(0);
  transition: 0.9s all;
}
h2 {
  text-align: center;
  transform: rotate(0);
  transition: 3s;
}

.main-box:hover .circle {
  transform: scale(2.5);
  background: khaki;
}
.main-box:hover h2 {
  transform: rotate(360deg);
  color: hotpink;
}

.img-hover {
  margin: 0 auto;
  width: 300px;
  margin-top: 49px;
  position: relative;
  overflow: hidden;
}
img {
  width: 100%;
}
.up_border {
  position: absolute;
  width: 100%;
  height: 49%;
  background: #1b1d1b85;
  top: 0;
  /* left: 0; */
  transition: 0.3s;
}
.img-hover:hover .up_border {
  top: -150px;
}

.bottom_border {
  position: absolute;
  width: 100%;
  height: 49%;
  background: #1b1d1b85;
  bottom: 6px;
  /* left: 0; */
  transition: 0.3s;
}
.img-hover:hover .bottom_border {
  bottom: -149px;
}

/* .img-hover:hover .title2 {
  bottom: 200px;
} */

/*=======Flag======*/
.flag {
  width: 500px;
  height: 500px;
  background: skyblue;
}
.rectangle {
  top: 5%;
  left: 5%;
  width: 300px;
  height: 150px;
  background: green;
  position: relative;
  border-radius: 0px 0px 25px 0px;
}
.circle-flag {
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 50%;
  margin-left: -50px;
}
.stick {
  height: 350px;
  width: 6px;
  position: absolute;
  background: yellow;
}
.top-stick {
  width: 6px;
  background: hotpink;
  height: 10px;
  top: 0;
  margin-top: -10px;
  border-radius: 50%;
}
.bottom-top {
  width: 70px;
  height: 20px;
  background: aqua;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -35px;
}
